$bg-color: #F9FAFE;

$primary-color: #3540FF;
$primary-color-light: #DEEAFF;

$accent-color: #00E3EE;

$secondary-color: #A2A8C1;
$secondary-color-light: #E2E4EC;

$text-main-color: #000000;

$shadow-color: #CBD4FA;

$desktop-size: 1050px;
$desktop-size-large: 1250px;